.diageo-soi-speaker-item-container {
  background-color: #0043ce;
  border-radius: 0.9375rem;
  margin-bottom: 2rem;
  color: #ffffff;
  max-width: 640px;
}

.diageo-soi-speaker-item {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    flex: 1;
    text-align: center;
    min-width: 33%;
    margin-left: 5%;

    &__circle {
      border-radius: 50%;
      overflow: hidden;
      border: 0.0625rem solid #fff;
      width: 4.4375rem;
      height: 4.4375rem;
    }
  }

  &__speaker-info {
    min-width: 66%;
    display: flex;

    &__title {
      font-size: 0.575rem;
    }

    &__name {
      p {
        display: inline-block;
      }
      a {
        display: inline-block;
        margin-right: 0.4rem;
      }
      width: 70%;
    }
  }

  &__plus {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: center;

    &__padding {
      margin-right: 30%;
    }
  }

  &__accordion-panel {
    &__closed {
      padding: 0 1.125rem;
      display: none;
      overflow: hidden;
    }

    &__open {
      padding: 0 2rem;
      padding-bottom: 1rem;
      display: block;
      overflow: hidden;
      width: 100%;
      margin-top: 0.625rem;

      p {
        font-size: 0.825rem;
      }
    }
  }
}
