.messages-accordion {
  margin-top: 1.5rem;
  align-items: center;
  .accordion-item {
    display: flex;
    align-items: center;
    justify-content: center;
    .accordion-header {
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.25rem 0;
        font-size: 1rem;
        font-weight: bold;
        color: #0043ce;
        background-color: transparent;
        border: none;
        cursor: pointer;
        gap: 0.75rem;

        .accordion-icon {
          width: 0.75rem;
          height: 0.75rem;
          transition: transform 0.2s ease-in-out;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }

    .accordion-content {
      display: none;

      &.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
